* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  img{
    display: inline-block;
    width: 100%;
    object-fit: contain;
    height: 100%;
  }




.carousel-image{
  position: absolute;   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* display: none; */

  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none; 
  z-index: 1;

  
}

.carousel-image.active {
  /* display: block; */
  opacity: 1;
  /* pointer-events: auto; */
  z-index: 2;
}

